/* Show it is fixed to the top */
body {
  /* min-height: 75rem;
  padding-top: 8.5rem; */
}
/*Header and Nav style */
a:hover{
  cursor: pointer;
}
.btn-black{
  background-color: #000;
  color: #fff;
}
.btn.btn-black:hover{
  color: #707070;
}
.header .navbar{
  background: #ADADAD;
  padding: 0;
}
.header .navbar .container-fluid{
  padding: 0;

}
.header .navbar .fal{
  font-size: 32px;
  color: #fff;
}
.header .navbar .nav-right-col{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .favourite-block {
  text-align: center;
}
.header .shopping-block, .header  .user-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #fff;
}
.header .user-block {
  background: #707070;
  padding: 1rem;
}
.header .user-block .user-name-block{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
}
.header .subnavbar {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ADADAD;
}
.header .subnavbar .fas, .header .subnavbar .fad, .header .subnavbar .fal{
  margin-right: 0.5rem;
}
.header .subnavbar h4{
  margin: 0;

}
.header .subnavbar .convert-action-btn{
  margin-left: 1rem;

}
/*Content style */
.records-section {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
}

.records-section .col-prod-img img {
  max-width: 32px;
}

.records-section .col-prod-comment img,
.records-section .col-prod-del img {
  max-width: 16px;
}

.records-section .records-header>* {
  text-transform: uppercase;
}

.records-section .records-header>*,
.records-section .record-item>* {
  display: flex;
  width: 9%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.order-list-section .records-header>*,
.order-list-section .record-item>* {
  width: 10%;
}

.records-section .col-prod-select,
.records-section .col-prod-del,
.records-section .col-record-id,
.records-section .col-prod-img {
  width: 4%;
}
.records-section .col-prod-discount {
  width: 6%;
}
.records-section .col-prod-title {
  width: 15%;
}

.products-section .col-prod-select,
.products-section .col-prod-del,
.products-section .col-prod-sav {
  width: 3%;
}
.products-section .col-prod-comment {
  width: 15%;
}
.products-section .col-prod-title {
  width: 12%;
}
/* .record-item:nth-of-type(odd) {
  background-color:#0000000d;
} */
.records-section .record-item:hover {
  background-color:#0000000d;
}
.records-section .col-prod-del:hover .fal{
  cursor: pointer;
  color: #721c24;
}

.content-inner .subtotal-section{
 background-color: #F5F5F5;
 padding: 1rem;
}
.content-inner .subtotal-section .row{
  border-bottom: 1px solid #CCCCCC;
  padding: 0.5rem 0;
}
.content-inner .subtotal-section .totalamount{
  font-size: 18px;
  font-weight: bold;
}
.order-list-section .col-prod-title{
  width: 10%;
}
.order-list-section .col-record-id{
  width: 16%;
}
.order-details-section .col-record-id{
  width: 14%;
}
/*Import CSV modal */
.modal-content{
  border-radius: 24px;
  font-size: 12px;
  color:#6B6B6B;
}
.content-inner{
  margin: 3rem 0;
}

#importCsvModal .modal-body{
  padding: 3rem;
}
#importCsvModal i{
  font-size:160px;
  margin-bottom: 1rem;
}
#importCsvModal li{
  margin-bottom: 0.5rem;
}
#importCsvModal ul li::marker {
     font-size: 32px;
     line-height: 15px;
 }
 #importCsvModal ul li span{
  margin-top: -6px;
  float: left;

 }
/*Save order modal */
#saveOrderModal .modal-body{
  padding: 3rem;

}
#saveOrderModal i{
  font-size:160px;
  margin-bottom: 1rem;
}
/*Sidebar Style */
#sidebar {
  min-width: 240px;
  max-width: 240px;
  background: #CCCCCC;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active ul.components li a {
  padding: 10px 0;
}

#sidebar.active ul.components li a span {
  display: none;
}

#sidebar.active .logo {
  padding: 10px 0;
}

#sidebar .logo {
  display: block;
  color: #fff;
  font-weight: 900;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar ul li {
  font-size: 16px;
}

#sidebar ul li>ul {
  margin-left: 10px;
}

#sidebar ul li>ul li {
  font-size: 14px;
}

#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: white;
  text-decoration: none;
}

#sidebar ul li a span {
  margin-left: 0.5rem;
}


#sidebar .sub-menu li{
  list-style: none;
}
#sidebar .with-submenu:hover .sub-menu{
  visibility: visible !important;
  opacity: 1 !important;
}
#sidebar .with-submenu .sub-menu{
  background: #707070;
  position: absolute;
  left: 240px;
  z-index: 10;
  margin-left: 0;
  height: 100%;
  width: 180px;
  top: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

}
#sidebar.active .with-submenu .sub-menu{

  left: 80px;

}
#sidebar.active .sidebar-toggle{

  display: flex;
  justify-content: center;
}
#sidebar .sidebar-toggle{
  display: flex;
  justify-content: flex-end;
}
#sidebar .sidebar-toggle .sidebar-toggle-btn {
  margin-right: 1rem;
}
#sidebar.active .sidebar-toggle .sidebar-toggle-btn {
  margin-right: 0;
}
#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.content-inner{
  overflow: auto;

}
/*Bottom Add record */
.bottom-add-record{
  width: 100%;
  position:absolute;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, .125);
  padding:1rem 3rem;
  background: #fff;
}

.bottom-add-record .add-record-content>* {
  display: flex;
  flex-wrap: wrap;
  width: 10%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  align-self: end;
}
.bottom-add-record .col-prod-title, .bottom-add-record .col-prod-comment{
  width:25%;

}
